body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-style:inherit;
    font-size:2.6em;
    font-weight: 800;
    color: #002E3D;
}
h2 {
    font-size:1.6em;
    color:#071E22;
}
.index a {
    color: #ac3931;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}
.index {
    padding-bottom: 40px;
}
.basic-information {
    font-weight: 550;
}
.period {
    font-size: 0.85em;
}
.school-name {
    font-weight: 700;
    font-size: 1.1em;
}
.my-name {
    margin: 20px 10px 10px 10px;
    text-align: center;
}
.about-me {
    height: inherit;
    display: inline-block;
    width: 60%;
    vertical-align: top;
    text-align: center;
}
* {
    margin-left: 25px;
    margin-right: 20px;
}
a {
    margin-right: 0px;
    margin-left: 0px;
}
